@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,html,body {
  width: 100%;
  height: 100%;

  font-family: 'Aileron', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
